<html lang="en">
  <body>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha256-k2WSCIexGzOj3Euiig+TlR8gA0EmPjuc79OEeY5L45g="
      crossorigin="anonymous">
    </script>
    <p>
    {% if session.profile %}
        <a href="{{ url_for('logout') }}">
         {% if session.profile.image %}
           <img class="img-circle" src="{{session.profile.image}}" width="24">
         {% endif %}
         Logout {{session.profile.name}}
        </a>
    {% endif %}
    </p>
    <p>
        <a>Add Account</a>
    </p>
  </body>
</html>
