<html lang="en">
  <body>
    <link rel="stylesheet" href="/static/google.css">
    <script src="/static/auth.js"></script>
    <script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>
    <button id="signin-button" onclick="handleSignInClick()">Sign In</button>
    <button id="signout-button" onclick="handleSignOutClick()">Sign Out</button>
    <div id="google-oauth-button" class="oauth-google">
        <div class="oauth-google-inner">
            <img src="/static/img/GGL_logo_googleg_18.png">
            <div class="oauth-google-text">
                Sign in with Google
            </div>
        </div>
    </div>
  </body>
</html>
